body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:220px;
  top:70px;
  width:690px;
  height:330px;
  color:#00FFFF;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:330px;
}
#u1 {
  position:absolute;
  left:2px;
  top:157px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:340px;
  top:125px;
  width:90px;
  height:22px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u3 {
  position:absolute;
  left:490px;
  top:122px;
  width:100px;
  height:25px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u4 {
  position:absolute;
  left:500px;
  top:249px;
  width:90px;
  height:22px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u5 {
  position:absolute;
  left:630px;
  top:246px;
  width:100px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#1B1B1B;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u6 {
  position:absolute;
  left:390px;
  top:249px;
  width:90px;
  height:22px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u7 {
  position:absolute;
  left:270px;
  top:249px;
  width:100px;
  height:22px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u8 {
  position:absolute;
  left:620px;
  top:127px;
  width:300px;
  height:19px;
  font-size:16px;
  color:#00CC99;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:19px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:540px;
  top:281px;
  width:300px;
  height:58px;
  font-size:16px;
  color:#00CC99;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:58px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
