body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:11px;
  top:6px;
  width:969px;
  height:504px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:969px;
  height:504px;
}
#u1 {
  position:absolute;
  left:2px;
  top:244px;
  width:965px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:420px;
  top:325px;
  width:100px;
  height:25px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u3 {
  position:absolute;
  left:320px;
  top:218px;
  width:100px;
  height:25px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u4 {
  position:absolute;
  left:320px;
  top:183px;
  width:100px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u5 {
  position:absolute;
  left:320px;
  top:253px;
  width:100px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u6 {
  position:absolute;
  left:430px;
  top:183px;
  width:200px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u7 {
  position:absolute;
  left:430px;
  top:253px;
  width:200px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u8 {
  position:absolute;
  left:440px;
  top:71px;
  width:60px;
  height:19px;
  font-size:16px;
  color:#6666FF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:430px;
  top:221px;
  width:200px;
  height:22px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u11 {
  position:absolute;
  left:20px;
  top:315px;
  width:100px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#FF0000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u12 {
  position:absolute;
  left:20px;
  top:145px;
  width:100px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u13 {
  position:absolute;
  left:20px;
  top:111px;
  width:130px;
  height:19px;
  font-size:16px;
  color:#AEAEAE;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:19px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:20px;
  top:183px;
  width:100px;
  height:25px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u16 {
  position:absolute;
  left:320px;
  top:110px;
  width:100px;
  height:25px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u17 {
  position:absolute;
  left:430px;
  top:110px;
  width:200px;
  height:25px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  background-color:#A1A1A1;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u18 {
  position:absolute;
  left:530px;
  top:280px;
  width:100px;
  height:25px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#6666FF;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u19 {
  position:absolute;
  left:410px;
  top:154px;
  width:180px;
  height:19px;
  font-size:16px;
  color:#CC33FF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:19px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
