<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduate.mapper.LessonTableMapper">
	
	<select id="findOneWeekTeacherLessonInfo"  resultType="java.util.HashMap">
		SELECT 
			atl.location,ac.courseName,atl.lessonTime,atl.courseIndex
		FROM  
			attence_teacher_lesson atl LEFT JOIN  attence_course ac on ac.courseCode=atl.courseCode
		WHERE 
		atl.tno=#{0} 	
		AND DATE_FORMAT(atl.lessonTime,'%Y/%m/%d') BETWEEN #{1} AND #{2}
	</select>
	<select id="test" resultType="int">
		select 1
	</select>
</mapper>