<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduate.mapper.UserInfoMapper">
	<select id="findAll" resultType="com.graduate.entity.UserInfo">
		select * from userinfo 
	</select>
	<select id="testaa" resultType="int">
		select 1
	</select>
</mapper>